.imgPadding{
    margin-right: 10px;
}

#color {
    color: #FFFFFF;
}

button {
    background: red;
}

#cartFooter{
    height: 50px !important;
}

ion-toolbar{
    background: var(--ion-color-success-shade);
    color: #fff;
}