#closeIcon{
    font-size: 20px;
    padding-right:10px;
}

.color-icon{
    color: var(--ion-color-success-shade);
}

.verticalLine {
    width:1%;
    height:50px;
    margin-top: 0;
    position: relative;
    margin-left: 5%;
} 