<ion-header>
  <ion-toolbar color="success-shade">
    <ion-title>Carbon Footprint Summary</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="Approved">
    <ion-item class="ion-text-center ion-padding-top ion-margin-top">
      <ion-icon name="leaf-outline" class="leaf-icon"></ion-icon>
      <div class="verticalLine"></div>
      <ion-label>Estimated Carbon Footprint Produced</ion-label>
    </ion-item>
    <h3 class="ion-text-center">{{carbonFootprint}}&nbsp;kg/CO2</h3>

    <div class="ion-text-center">
      <ion-item class="ion-text-center ion-margin-bottom">
        <div class="verticalLine"></div>
        <ion-label>Eco-rating: {{ecoRating}}</ion-label>
      </ion-item>
      <!-- 1 star rating -->
      <ion-label *ngIf="ecoRating == 1">
        <ion-icon name="leaf-outline" class="leaf-icon leaf-fontsize"></ion-icon>
        <ion-icon name="leaf-outline" class="leaf-fontsize"></ion-icon>
        <ion-icon name="leaf-outline" class="leaf-fontsize"></ion-icon>
        <ion-icon name="leaf-outline" class="leaf-fontsize"></ion-icon>
        <ion-icon name="leaf-outline" class="leaf-fontsize"></ion-icon>
      </ion-label>
      <!-- 2 star rating -->
      <ion-label *ngIf="ecoRating == 2">
        <ion-icon name="leaf-outline" class="leaf-icon leaf-fontsize"></ion-icon>
        <ion-icon name="leaf-outline" class="leaf-icon leaf-fontsize"></ion-icon>
        <ion-icon name="leaf-outline" class="leaf-fontsize"></ion-icon>
        <ion-icon name="leaf-outline" class="leaf-fontsize"></ion-icon>
        <ion-icon name="leaf-outline" class="leaf-fontsize"></ion-icon>
      </ion-label>
      <!-- 3 star rating -->
      <ion-label *ngIf="ecoRating == 3">
        <ion-icon name="leaf-outline" class="leaf-icon leaf-fontsize"></ion-icon>
        <ion-icon name="leaf-outline" class="leaf-icon leaf-fontsize"></ion-icon>
        <ion-icon name="leaf-outline" class="leaf-icon leaf-fontsize"></ion-icon>
        <ion-icon name="leaf-outline" class="leaf-fontsize"></ion-icon>
        <ion-icon name="leaf-outline" class="leaf-fontsize"></ion-icon>
      </ion-label>
      <!-- 4 star rating -->
      <ion-label *ngIf="ecoRating == 4">
        <ion-icon name="leaf-outline" class="leaf-icon leaf-fontsize"></ion-icon>
        <ion-icon name="leaf-outline" class="leaf-icon leaf-fontsize"></ion-icon>
        <ion-icon name="leaf-outline" class="leaf-icon leaf-fontsize"></ion-icon>
        <ion-icon name="leaf-outline" class="leaf-icon leaf-fontsize"></ion-icon>
        <ion-icon name="leaf-outline" class="leaf-fontsize"></ion-icon>
      </ion-label>
      <!-- 5 star rating -->
      <ion-label *ngIf="ecoRating == 5">
        <ion-icon name="leaf-outline" class="leaf-icon leaf-fontsize"></ion-icon>
        <ion-icon name="leaf-outline" class="leaf-icon leaf-fontsize"></ion-icon>
        <ion-icon name="leaf-outline" class="leaf-icon leaf-fontsize"></ion-icon>
        <ion-icon name="leaf-outline" class="leaf-icon leaf-fontsize"></ion-icon>
        <ion-icon name="leaf-outline" class="leaf-icon leaf-fontsize"></ion-icon>
      </ion-label>
    </div>


    <ion-card>
      <ion-card-header class="ion-no-padding ion-padding-start">
        <h4>Carbon Emissions Produced from each section</h4>
      </ion-card-header>
      <ion-card-content>
        <canvas #doughnutCanvas></canvas>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <h4>Carbon Footprint Produced - Average Companies</h4>
      </ion-card-header>
      <ion-card-content>
        <canvas #barCanvas></canvas>
        Summary:<br>
        {{summarycontent}}
      </ion-card-content>
    </ion-card>
  </div>

  <div id="Pending" class="center">
    Please wait while admin is reviewing your Carbon Footprint
  </div>

</ion-content>