ion-toolbar{
    background: var(--ion-color-success-shade);
    color: #fff;
}
.verticalLine {
    width:1%;
    height:50px;
    margin-top: 0;
    position: relative;
    margin-right: 3%;
  }
.leaf-icon{
    color: var(--ion-color-success-shade);
  }

  .leaf-fontsize{
    font-size: 30px;
  }

.center {
  margin: 0;
  position: absolute;
  top: 45%;
  left: 50%;
  -ms-transform: translate(-40%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  font-weight: bold;
}