.flag {
    // background:  var(--ion-color-success-shade);
    color:  var(--ion-color-danger-shade);
}

.unflag {
    color:  var(--ion-color-success-shade);
}

.container{
    text-align: center;
    position: absolute;
    left:0;
    right:0;
    top:50%;
    transform: translateY(-50%);
}

.noListingText{
    font-size:16px;
}