.leaf-icon{
    color: var(--ion-color-success-shade);
  }
.leaf-fontsize{
    font-size: 30px;
  }
.reject {
    color:  var(--ion-color-danger-shade);
}
.approve {
    color:  var(--ion-color-success-shade);
}
