<ion-header>
  <ion-toolbar color='secondary-shade'>
    <ion-buttons slot="start" id="color">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center ion-margin-end ion-margin-top ion-no-padding ion-padding-end" id="color">
        <ion-label><h1><ion-icon name="leaf-outline" class="iconMargin"></ion-icon>GreeniT</h1></ion-label>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-padding ion-margin ion-text-center">
        <h3>Welcome back, {{userUsername}}</h3>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding" style="border-bottom: 1px solid grey; border-top: 1px solid grey;">
      <ion-col class="ion-padding" (click)="cards()">
        <ion-icon name="card-outline" class="cardsIcon"></ion-icon>
        <ion-label class="LabelFontSize">Cards</ion-label>
      </ion-col>
      <ion-col class="cell-class ion-padding" style="border-left: 1px solid grey;" (click)="beans()">
        <img src="assets/icon/beans.png" class="beans">
        <ion-label class="LabelFontSize NoOfBeans">{{NoOfBeans}} <ion-label color="light">Beans</ion-label></ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <ion-grid class="ion-margin">
    <ion-row class="ion-text-center"> 
      <ion-col>
          <div (click)="marketplace()">
            <img src="assets/icon/marketplace_icon.png" class="img-icon">
            <ion-label>Marketplace</ion-label>
          </div>       
      </ion-col>
      <ion-col>
        <div (click)="leaderboard()">
        <img src="assets/icon/leaderboard_icon.png" class="img-icon">
        <br>
        <ion-label>Eco-rating LeaderBoard</ion-label>
      </div>
      </ion-col>
      <ion-col>
        <div (click)="education()">
          <img src="assets/icon/education_icon.png" class="img-icon">
          <ion-label>Education</ion-label>
        </div>      
      </ion-col>
    </ion-row>
    <ion-row class="ion-text-center ion-padding-top" > 
      <ion-col *ngIf="isBusiness">
          <div (click)="carbonFootprint()">
            <img src="assets/icon/carbonFootprint_icon.PNG" class="img-icon" >
            <ion-label>Carbon Footprint</ion-label>
          </div>       
      </ion-col>

      <ion-col>
        <div (click)="crowdfuding()">
          <img src="assets/icon/crowdFunding_icon.png" class="ion-margin-end img-icon">
          <br>
          <ion-label>Crowd Funding</ion-label>
        </div>
        
      </ion-col>
      <ion-col *ngIf="isUser">
        <div>
          <img src="assets/icon/analytics_icon.png" class="img-icon">
          <br>
          <ion-label>Coming soon</ion-label>
        </div>      
      </ion-col>
      <ion-col *ngIf="isUser">
        <div>
          <img src="assets/icon/analytics_icon.png" class="img-icon">
          <br>
          <ion-label>Coming soon</ion-label>
        </div>      
      </ion-col>
      <ion-col *ngIf="isBusiness" (click)="sasva()">
        <div>
          <img src="assets/icon/sas_icon_.png" class="img-icon">
          <br>
          <ion-label>Visual Analytics</ion-label>
        </div>      
      </ion-col>
    </ion-row>
    <ion-row class="ion-margin-top"></ion-row>
    <ion-row class="ion-align-items-stretch" style="border-bottom: 1px solid rgb(146, 146, 146); border-top: 1px solid rgb(146, 146, 146);">
      <ion-col>
        <img src="assets/images/10-tips.png" class="staticImage">
      </ion-col>
    </ion-row>
    <ion-row class="ion-margin-top"></ion-row>
    <ion-row class="ion-align-items-stretch">
      <ion-col>
        <a href="https://www.grab.com/my/goinggreen/" target="_blank">
        <img src="assets/images/Featured-Campaign.jpg" class="staticImage"></a>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- <ion-button expand="block" (click)="carbonFootprint()">
    Carbon Footprint Calculator
  </ion-button> -->

</ion-content>
