<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/tab2"></ion-back-button>
    </ion-buttons>
    <ion-title>Carbon Footprint Review</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="carbonFootprintArray.length === 0" class="container">
    <ion-label class="noListingText">
    There is no Pending Carbon Footprint Submission
  </ion-label>
  </div>

  <div *ngIf="carbonFootprintArray.length != 0">
    <ion-item-divider>
      <ion-label>
        <h2>
          Business Accounts
        </h2>
      </ion-label>
    </ion-item-divider>
    <div *ngFor="let array of carbonFootprintArray">
      <div *ngFor="let item of array">
        <div *ngFor="let user of allUsers">
          <ion-list *ngIf="user.email == item.email" class="ion-no-padding">
            <ion-item (click)="carbonFootprintDetails(user.uid, user.username)">
              <!-- <ion-item [routerLink]="['/carbonfootprint-pending-detail', item.id]"> -->
              <ion-thumbnail slot="start">
                <img [src]=user.imageURL>
              </ion-thumbnail>
              <ion-label>
                <h2 style="text-transform: lowercase,;">{{user.username}}</h2>
                <p style="text-transform: capitalize;">Carbon Footprint status: {{item.status}}</p>
              </ion-label>
              <ion-icon name="arrow-forward-outline"></ion-icon>
            </ion-item>
          </ion-list>
        </div>
      </div>
    </div>
  </div>
  

</ion-content>